* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;;
  }

:root {
    --black: #483838;
    --green: #42855B;
    --light: #90B77D;
    --lighter: #D2D79F;
}


header{
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}

header a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.nav{
    display: flex;
    gap: 10px;
}

.logo{
  font-size: 20px;
  font-weight: 700;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background-color: var(--black);
 }

.add-prop{
    background-color: var(--green);
    padding: 10px;
    position: absolute;
    top: 10%;
    cursor: pointer;
}

.container{
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    background-color: var(--green);
}

  input[type="checkbox"]{
    display: none;
  }

  .add-prop:checked ~ .container{
    display: block !important;
  }

  .container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
  }

  .container .close-btn:hover{
    color: var(--black);
  }



  .container .tilte{
    font-size: 1.8em;
    font-weight: 550;
    text-align: center;
  }

  .container form{
    margin-top: -1rem;
  }

  .container form .data{
   height: 45px;
   width: 100%;
   margin: 40px 0;
  }

  form .data label{
    font-size: 1.1rem;
  }

  form .data input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    padding-left: 0.8rem;
  }
  form .btn{
    margin: 30px auto;

  }

  form .btn button{
    display: block;
    margin: 30px auto;
    height: 40px;
    width: 200px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: var(--black);
    color: #fff;
  }
